# Ignore everything by default so we explicitly whitelist through exceptions
*

# whitelisted folders / files for the main docker image
!build_scripts
!examples
!docs
!hooks
!plastered
!server_entrypoint.sh
!tests
!pyproject.toml
!uv.lock
