# Ignore everything by default so we explicitly whitelist through exceptions
*

# whitelisted folders / files for the main docker image
!build_scripts
!hooks
!examples
!docs
!src
!entrypoint.sh
!server_entrypoint.sh
!pyproject.toml
!uv.lock
!vendor
