<!DOCTYPE html>
<html>
<head>
    <title>Plastered v{{ plastered_version }}</title>
    <link href="{{ url_for('static', path='/css/modal.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Plastered v{{ plastered_version }}</h1>
    <script src="{{ url_for('static', path='/js/htmx.min.js') }}"></script>
    <button 
	id="showButton"
	hx-get="{{ url_for('static', path='/html/modal.html') }}"
	hx-target="#modals-here" 
	class="uk-button uk-button-primary" 
	_="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal">Open Modal</button>
    <div id="modals-here"></div>
</body>
</html>
