<!DOCTYPE html>
<html>
<head>
    <title>Search Submitted</title>
</head>
<body>
    <p>Search submitted for "{{ entity_name }}" by "{{ artist_name }}".</p>
    <ol>
      <li><a href="{{ base_url }}/search_form">Submit another search</a></li>
      <li><a href="{{ base_url }}/run_history">Check status</a> of active and recent searches</li>
      <li><a href="{{ base_url }}">Return to Main Page</a></li>
    </ol>
</body>
</html>
