services:
  plastered:
    container_name: plastered
    build: .
    restart: on-failure
    environment:
      - RED_API_KEY=${MY_RED_API_KEY}
      - LFM_API_KEY=${MY_LFM_API_KEY}
      - LFM_USERNAME=${MY_LFM_USERNAME}
      - LFM_PASSWORD=${MY_LFM_PASSWORD}
    volumes:
      - ./config.yml:/config.yml:ro
      - ./content:/content
    command: scrape

