name: Release
run-name: Release ${{ github.ref }}
env:
  IMAGE_REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  TEST_IMAGE_NAME: ${{ github.repository }}-test
on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-test-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
  release:
    runs-on: ubuntu-latest
    needs: build-and-test-image
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build test image
        uses: docker/build-push-action@v6
        with:
          tags: ${{ env.TEST_IMAGE_NAME }}:${{ github.run_number }}
          target: plastered-test
          build-args: |
            PLASTERED_RELEASE_TAG=${{ github.ref_name }}
      - name: Code format check
        run: |
          docker run -t --rm -e CODE_FORMAT_CHECK=1 -e GITHUB_ACTIONS=1 --entrypoint /app/build_scripts/code-format.sh ${{ env.TEST_IMAGE_NAME }}:${{ github.run_number }}
      - name: Run unit tests
        run: |
          docker run -t -e GITHUB_ACTIONS=1 -e RELEASE_TESTS=1 --rm --entrypoint /app/tests/tests_entrypoint.sh ${{ env.TEST_IMAGE_NAME }}:${{ github.run_number }} tests
      # - name: Tag Release  # TODO: after initial main tag, use https://github.com/marketplace/actions/get-latest-tag for tag calculation
      #   run: echo "TODO implement in followup PR"
      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/windexvalence/plastered
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push app image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            PLASTERED_RELEASE_TAG=${{ github.ref_name }}
          target: plastered-app
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
